name: Dispatch / Pkg Update
on:
  workflow_dispatch:
    inputs:
      python-version:
        description: Python version to use
        default: "3.12"
        type: choice
        options:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
      optimum-version:
          description: Version of optimum-rbln to add
          default: "latest"
          type: string  

  workflow_call:
    inputs:
      python-version:
        description: Python version to use
        default: "3.12"
        type: string
      optimum-version:
        description: Version of optimum-rbln to add
        default: "latest"
        type: string

jobs:
  update-pkg:
    uses: ./.github/workflows/pkg_update.yaml
    with:
      python-version: ${{ inputs.python-version }}
      optimum-version: ${{ inputs.optimum-version }}
    secrets: inherit
