name: Trigger FSW PR CI for vLLM-RBLN

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:
    inputs:
      ref:
        description: "ref to checkout"
        required: false
        type: string
      python_version:
        description: "Python version to use"
        required: false
        type: string
        default: "3.12.9"
      vllm_upstream_tag:
        description: "vLLM upstream tag/version to use for tests (e.g., v0.9.1)"
        required: false
        type: string

jobs:
  trigger-vllm-rbln-fsw-pr-ci:
    if: github.repository_owner == 'RBLN-SW' && github.event_name == 'pull_request'
    runs-on: fsw-r18s-atom-ext-rbln-sw-general-c1m12
    steps:
      - name: Dispatch to fsw-integration
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.GIT_PAT }}
          repository: rebellions-sw/fsw-integration
          event-type: ${{ github.event.pull_request.base.ref == 'dev-0.12' && 'vllm-rbln-pr-event-for-0.12' || 'vllm-rbln-pr-event' }}
          client-payload: |
            {
              "ref": "${{ github.event.pull_request.head.ref }}",
              "sha": "${{ github.event.pull_request.head.sha }}",
              "pr_number": "${{ github.event.number }}",
              "actor": "${{ github.actor }}"
            }
