name: vllm-rbln / PR

on:
  pull_request:
    branches:
      - dev

env:
  REBEL_PYPI_ENDPOINT: ${{ vars.REBEL_PYPI_INTERNAL_ENDPOINT }}
  REBEL_PYPI_USERNAME: ${{ secrets.REBEL_PYPI_USERNAME }}
  REBEL_PYPI_PASSWORD: ${{ secrets.REBEL_PYPI_PASSWORD }}
  REBEL_VLLM_PRE_COMPILED_DIR: ${{ secrets.VLLM_PRE_COMPILED_DIR }}

jobs:
  pkg-update-trigger:
    uses: ./.github/workflows/dispatch_pkg_update.yaml
    secrets: inherit
    with:
      python-version: '3.12'
      optimum-version: 'v0.9.4a5'
