name: CI / Utils / Get optimum-rbln version

on:
  workflow_call:
    outputs:
      optimum_version:
        description: "optimum-rbln package version"
        value: ${{ jobs.get-optimum-version.outputs.optimum_version }}

jobs:
  get-optimum-version:
    runs-on: ubuntu-latest-rbln
    outputs:
      optimum_version: ${{ steps.get_target_optimum_version.outputs.OPTIMUM_RBLN_VERSION }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get optimum version from requirements
        id: get_target_optimum_version
        run: |
          OPTIMUM_RBLN_VERSION=$(grep 'optimum-rbln' pyproject.toml | sed -n 's/.*optimum-rbln>=\([^"]*\).*/\1/p')
          echo "Found optimum-rbln version in pyproject.toml: $OPTIMUM_RBLN_VERSION"

          if [ -z "$OPTIMUM_RBLN_VERSION" ]; then
            echo "Error: Could not find optimum-rbln version in pyproject.toml"
            exit 1
          fi

          echo "OPTIMUM_RBLN_VERSION=$OPTIMUM_RBLN_VERSION" >> $GITHUB_OUTPUT
