name: CI / Trigger internal test

on:
  workflow_call:
    inputs:
      ref:
        description: "ref to checkout"
        required: false
        type: string
      rebel_compiler_version:
        description: "Version of rebel-compiler to use (optional)"
        required: false
        type: string
      optimum_rbln_version:
        description: "Version of optimum-rbln to use (optional)"
        required: false
        type: string

jobs:
  get-compiler-version:
    if: ${{ !inputs.rebel_compiler_version }}
    uses: ./.github/workflows/rbln_utils_get_compiler_version_ci.yaml
    secrets: inherit

  vllm-rbln-pytest:
    needs: [get-compiler-version]
    uses: ./.github/workflows/rbln_vllm-rbln_pytest.yaml
    secrets: inherit
    with:
      ref: ${{ inputs.ref }}
      rebel_compiler_version: ${{ needs.get-compiler-version.outputs.compiler_version }}
      optimum_rbln_version: ${{ inputs.optimum_rbln_version }}

  vllm-rbln-optimum-ci:
    needs: [get-compiler-version]
    uses: ./.github/workflows/rbln_optimum_ci.yaml
    secrets: inherit
    with:
      ref: ${{ inputs.ref }}
      rebel_compiler_version: ${{ needs.get-compiler-version.outputs.compiler_version }}
      optimum_rbln_version: ${{ inputs.optimum_rbln_version }}
