name: Trigger Internal CI for vLLM-RBLN

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:
    inputs:
      ref:
        description: "ref to checkout"
        required: false
        type: string
      python_version:
        description: "Python version to use"
        required: false
        type: string
        default: "3.12.9"

jobs:
  trigger-vllm-rbln-internal-ci:
    if: github.repository_owner == 'rebellions-sw'
    runs-on: vllm-rbln-runner-air
    steps:
      - name: Dispatch to fsw-integration
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.GIT_PAT }}
          repository: rebellions-sw/fsw-integration
          event-type: vllm-rbln-pr-event
          client-payload: |
            {
              "ref": "${{ inputs.ref || github.event.pull_request.head.ref || github.ref_name }}",
              "sha": "${{ github.event.pull_request.head.sha || github.sha }}",
              "pr_number": "${{ github.event.number || '' }}",
              "actor": "${{ github.actor }}",
              "python_version": "${{ inputs.python_version }}"
            }
